.loginbody {
    font-family: "Lato", sans-serif;
    background-color: #121212;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/573/824/918/home-minimalism-night-vector-the-city-hd-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ddd;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.loginbody .form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40rem;
    margin: 50px auto;
    color: #333;
}

.loginbody h1 {
    text-align: center;
    margin-bottom: 20px;
}

.loginbody label {
    margin-top: 10px;
    display: block;
}

.loginbody input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.loginbody button {
    width: 100%;
    padding: 10px;
    background-color: #7ec4cf;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 1rem 0;
}

.loginbody button:hover {
    background-color: #68b0bb;
}

.loginbody .output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}