.regbody {
    font-family: "Lato", sans-serif;
    background-color: #121212;
    background-image: url('https://e0.pxfuel.com/wallpapers/199/321/desktop-wallpaper-city-vector-panorama-u-16-9.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ddd;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.regbody .form-container {
    width: 40rem;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(34, 34, 34, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.regbody .section {
    margin-bottom: 20px;
}

.regbody label {
    display: block;
    margin-bottom: 5px;
    color: #ddd;
}

.regbody input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2b2b2b;
    color: #ddd;
}

.regbody button {
    background-color: #7ec4cf;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.regbody button:hover {
    background-color: #68b0bb;
}

.regbody .output {
    margin-top: 20px;
    color: #ddd;
}